# Entornos virtuales
venv/
.env/

# Archivos de cache de Python
__pycache__/
*.pyc
*.pyo

# Archivos de VS Code
.vscode/
.tareas_a_realizar.txt
tareas_a_realizar.txt

# Archivos de logs
*.log

# Archivos temporales
*.tmp
