{% extends "base.html" %}

{% block title %}Registrarse{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/soloregister.css') }}">
{% endblock %}

{% block content %}
<div class="register-container">
    <div class="login-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-img">
        
        <h3>Regístrate para comenzar tu aventura.</h3>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <hr class="login-divider">

        <form action="{{ url_for('register') }}" method="post">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <small class="password-requisitos">
               La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula, un número y un símbolo especial.
            </small>
            <div class="bajo-register">
                <input type="checkbox" name="acepto-terminos" id="acepto-terminos">
                <label for="acepto-terminos">
                    Acepto los <a href="#" target="_blank">términos y condiciones</a>.
                </label>
            </div>
            <button type="submit" class="register boton1">Continuar</button>
        </form>
        <p>¿Ya tienes una cuenta Progresia? <a href="{{ url_for('login_page') }}">Inicia Sesión.</a></p>
    </div>
</div>

{% endblock %}